<html>
    <body>
        {{ include('/editorial/header.html.twig') }}
        <br>Das Ergebnis ist {{ergebnis2}}!<br><br>
        </div>
    </div>
        {{ include('/editorial/sidebar.html.twig') }}
    </body>
</html>
