{{ include('/editorial/header.html.twig') }}
      <!-- Content -->
      <section>
            <header class="main">
                  <h1>Ergebnis</h1>
            </header>
        <br>Das Ergebnis ist {{ergebnis2}}!<br><br>
        </div>
    </div>
</section>
        {{ include('/editorial/sidebar.html.twig') }}

