<html>
 <body>
    {{ include('/editorial/header.html.twig') }}
  <form action="" method="post">
    Erste Zahl: <input type="text" name="zahl1"><br>
    Operator:<select id="operator" name="operator">
         <option value="+">+</option>
         <option value="-">-</option>
         <option value="*">*</option>
         <option value="/">/</option>
         </select>
         <br>
    Zweite Zahl: <input type="text" name="zahl2"><br>
    <input type="submit" name="submit" value="go">
    <span style="color: red;">Überprüfen Sie Ihre Eingaben</span>
  </form>
  </div>
  </div>
    {{ include('/editorial/sidebar.html.twig') }}   
</body>
</html>
