{{ include('/editorial/header.html.twig') }}
      <!-- Content -->
      <section>
            <header class="main">
                  <h1>Rechner</h1>
            </header>
            <form action="" method="post">
            Erste Zahl: <input type="text" name="zahl1"><br>
            Operator:<select id="operator" name="operator">
                  <option value="+">+</option>
                  <option value="-">-</option> 
                  <option value="*">*</option> 
                  <option value="/">/</option>
            </select>
                  <br>
            Zweite Zahl: <input type="text" name="zahl2"><br>
            <input type="submit" name="submit" value="go"><br><br>
            </form>
            
            </div>
            </div>
      </section>
{{ include('/editorial/sidebar.html.twig') }}

