<html>
<body>
		{{ include('/editorial/header.html.twig') }}
		<form action="" method="post">
		Zinsen: <input type="text" name="rate"><br>
		Wert einer Zahlung: <input type="text" name="kzahlung"><br>
		Wert des Darlehens: <input type="text" name="zahlung"><br>
		Anzahl der Zahlungen: <input type="text" name="anzahl"><br>
		<input type="submit" name="submit" value="go"><br><br>

		</form>
		</div>
      </div>
		{{ include('/editorial/sidebar.html.twig') }}
	</body>
	
</html>
